<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Тестовый экзамен</title>
    </head>
    <body>
        <p><h3>ЕГЭ 2020. Информатика</h3></p>
        <p><b>Задача 27: Программирование</b></p>
        <p>
        Напишите программу, которая реализует расчёт значения члена последовательности Фибоначчи.
            Программа должна принимать на вход число, и выводить в терминал ответ.
        </p>
        <p>
            Программа должна быть реализована на языке программирования Python.
        </p>

        <p style="color:red; font-size: 14px; font-style: italic">
            ВНИМАНИЕ! Данный вариант является ТЕСТОВЫМ! Условия экзаменационных задач будут открыты только во время экзамена!
        </p>

        <p>
            <form method="post">
                <textarea cols="80" rows="20" name="code">{{ placeholder }}</textarea><br>
                <input type="submit" value="Проверить">
            </form>
        </p>

        {% if success is not none %}
            {% if success %}
                <p style="color:green">Успех!</p>
            {% else %}
                <p style="color:red">ОШИБКА!</p>
                <p>{{ errormsg }}</p>
            {% endif %}
        {% endif %}

        <form action="reset" method="post">
            Настоящая проверочная система (далее — Система) находится в режиме ПУБЛИЧНОГО ТЕСТИРОВАНИЯ. При возникновении проблем, пожалуйста, нажмите сюда:<br>
            <input type="submit" value="Сброс варианта задания">
        </form>
    </body>
</html>
